body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
.green-highlight{
    color: #7B31D6;
}
p{
    color: dimgray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(90deg ,#8c59ca ,#5f1bb3 );
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.upper-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.mid-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
#resume-button{
    background-image: linear-gradient(90deg ,#5dca59 ,#117e2c );
}
.lower-section{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.exp-box{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    background-color: white;
    border-radius: 10px;
}
#exp-box-right-id{
    
}
.violet-highlight{
    color: #19ac62;
}
footer p{
    font-size: 14px;
    text-align: center;
}